body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 64px;
    font-family: 'Comic Sans';
}

.pengers {
    display: flex;
    flex-direction: row;
    align-items: center stretch;
    flex-wrap: wrap;
    gap: 16px;
}

.penger {
    width: 64px;
}

.penger>img {
    width: 64px;
    image-rendering: pixelated;
}

.penger>div {
    text-align: center;
    font-size: 9px;
    color: #ffffffee;
    margin-bottom: 1em;
}

.penger:hover {
    outline: solid 3px #ffffffee;
    border-radius: 5px;
    cursor: url("/cursor2.png"), auto;
}

#notification {
    outline: solid 3px #ffffffee;
    border-radius: 5px;
    background-color: #ffaaaaff;
    padding: 10px;
    font-size: 32px;
    color: #ffffffee;
    position: fixed;
    z-index: 1000;
    right: 3em;
    opacity: 0.8;
    display: none;
}

.tutorial {
    font-size: 18px;
    color: #ffffffee;
    margin-bottom: 2em;
}
