body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 64px;
    font-family: 'Comic Sans';
}

.pengers {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.penger {
    width: 64px;
}

.penger>a>img {
    width: 64px;
    image-rendering: pixelated;
}