<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Penger gallery</title>
    <!-- The style.css file allows you to change the look of your web pages.
         If you include the next line in all your web pages, they will all share the same look.
         This makes it easier to make new pages for your site. -->
    <link href="/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <style>
        h2 {
            margin-top: 20px;
        }

        .gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .gallery img {
            max-width: 200px;
            max-height: 200px;
            object-fit: cover;
            border: 1px solid #ccc;
        }
        
        .directory {
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    {% for dir, images in images_with_dirs.items() %}
    <div class="directory">
        <h2>Directory: {{ dir }}</h2>
        <div class="gallery">
            {% for image in images %}
            <div>
                <img src="{{ image }}" alt="Image">
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</body>
</html>